[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
djangorestframework = "*"
psycopg2-binary = "*"
web3 = "*"
pytest = "*"
drf-spectacular = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.10"
